  #visualizationCanvas {
            border: 1px solid #ccc;
            margin-top: 20px;
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #0d6efd;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        .legend {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .legend-item {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }
        .color-box {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
        .color-green { background-color: green; }
        .color-yellow { background-color: yellow; }
        .color-red { background-color: red; }
